body {
  font-family: "Truculenta";
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
header {
  background-color: #ff7900;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  
  
}

header a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}
header a:hover {
  text-decoration: underline;
  color: rgb(255, 255, 255);
}
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}
.content {
  margin-top: 20px;
}
footer {
  background-color: #ff7f49;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  
}
#kontenti {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: cursive 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 335px;
    margin:0 auto;
}
#kontenti img{
    max-width:1530px;
}

button{
    border-radius: 100%;
    border-style: inherit;
    width: 50px;
    height: 40px;
    font: 15pt;
    color: white;
    background-color: #ff7f49;
}
button:hover{
    background-color: #ff7f49;
}
.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ff7f49; 

  
  text-align: center; 
  z-index: 1000; 
}
.truculenta {
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
header.sticky-header{
  padding-left: 6px;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#backToTopButton {
position: fixed;
bottom: 20px;
right: 20px;
user-select: none;
cursor: grab;
transition: all 0.3s;
z-index: 4; 
width: auto;
}

#backToTopButton:hover span {
animation: spin 1.5s linear infinite;
transform-origin: center;
display: inline-block;
}