body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #8efc8c;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    z-index: 2;
    top: 0;
    transition: background-color 0.3s ease-in-out;
  }
  header.scrolled {
    background-color: #8efc8c;
    z-index: 200; 
  }
  nav {
    background-color: #8efc8c;
    padding: 10px 20px;
    text-align: center;
  }
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  nav a:hover {
    text-decoration: underline;
  }
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
  }
  .content {
    margin-top: 20px;
  }
  footer {
    background-color: #8efc8c;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  #kontenti {
      display: flex ;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: cursive 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      width: 500px;
      margin:0 auto;
  }
  #kontenti img{
      max-width:1519px;
  }

  button{
      border-radius: 100%;
      border-style: inherit;
      width: 50px;
      height: 40px;
      font: 15pt;
      color: white;
      background-color: #8efc8c;
  }
  button:hover{
      background-color: #8efc8c;
  }
 