table th {
  
    background-color: #8efc8c;
    color: white;
   
}
th{
    padding-left: 175px;
    padding-right: 173px;
}
td {
    padding-left: 176px;
}
header {
    background-color: #8efc8c;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    
    
  }
  
  header a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  header a:hover {
    text-decoration: underline;
    color: white;
  }
  .sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #8efc8c; 
    padding: 10px 0; 
    
    text-align: center; 
    z-index: 1000; 
  }
  header.sticky-header{
    padding-left: 6px;
  }
  h1 {
    text-align: center;
  }
  body{
    background-image: url('../HTML/foto/photo18');
  }
  .truculenta {
    font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }