* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body, html {
  height: 100%; /* Vendosni lartësinë e trupit dhe HTML-it në 100% */
  margin: 0;
  display: flex;
  justify-content: center; /* Qendron përmbajtjen horizontalisht */
  align-items: center; /* Qendron përmbajtjen vertikalisht */
  overflow-x: hidden;
  font-family: "Truculenta";
}


  .container {
    width: 100%; /* Përshtatet me gjerësinë e ekranit, por me një limit të arsyeshëm */
    max-width: 600px; /* Mund ta rregullosh këtë vlerë bazuar në dizajnin tënd të përgjithshëm */
    margin: auto; /* Qendron kontejnerin horizontalisht */
    padding: 20px; /* Balanci i mirë i padding për të mos u bërë shumë ngushtë */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #f2f2f2;
    border-radius: 5px;
  }

body {
  font-family: "Truculenta";
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
header {
  background-color: #8efc8c;
  color: #fff;
  padding: 10px 20px;
  text-align: center;

}
.error {
  color: #D8000C; /* Ngjyrë e kuqe e errët për të treguar urgjencën */
  background-color: #FFD2D2; /* Ngjyrë e lehtë rozë për sfond për të ndihmuar në theksimin e tekst-it */
  padding: 10px 20px; /* Shtimi i padding për të bërë mesazhin më të lexueshëm */
  margin: 20px 0; /* Sigurimi i hapësirës rreth kutisë së mesazhit */
  border: 1px solid #D8000C; /* Kufizim i kuq për të rrethuar dhe tërhequr vëmendje */
  border-radius: 5px; /* Bordura e rrumbullakosur për estetikë më të butë */
  font-family: Arial, sans-serif; /* Përdorimi i një fonti të qartë dhe të lexueshëm */
  text-align: center; /* Qendrimi i tekstit brenda mesazhit të gabimit */
}

header a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  
}
header a:hover {
  text-decoration: underline;
  color: white;
}



form {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

input[type="text"],
input[type="password"],
input[type="submit"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #8efc8c;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #8efc8c;
}

footer {
  background-color: #8efc8c;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #8efc8c;
  padding: 10px 0;
 
  text-align: center;
  z-index: 1000;
}
.truculenta {
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
header.sticky-header{
  padding-right: 5px;
}
